{% if categories %}
<div class="container_menu not_mobile">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <nav id="menu" class="navbar">
          <div class="">
            <ul class="list-inline navbar_menu">
              {% for category in categories %}
              {% if category.children %}
              <li class="dropdown">
                {% if category.category_id == 17 %}
                <a href="{{ category.href }}">{{ category.name }}</a>
                {% else %}
                <a>{{ category.name }}</a>
                {% endif %}
                <div class="dropdown-menu">
                  <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    <ul class="list-unstyled">
                      {% for child in children %}
                      <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endfor %}</div>
                </div>
              </li>
              {% else %}
              <li><a href="{{ category.href }}">{{ category.name }}</a></li>
              {% endif %}
              {% endfor %}
              <li class="dropdown"><a>Еще</a>
                  <div class="dropdown-menu more_menu">
                    <div class="dropdown-inner">
                      <div class="rowmin">
                        {% for category in categories %}
                        <div class="col-sm-4">
                          {% if category.category_id == 17 %}
                          <p><a href="{{ category.href }}">{{ category.name }}</a></p>
                          {% else %}
                          <p><a>{{ category.name }}</a></p>
                          {% endif %}
                          {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                            {% for child in children %}
                            <p><a href="{{ child.href }}">{{ child.name }}</a></p>
                            {% endfor %}
                          {% endfor %}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      {{ search }}
    </div>
  </div>
</div>
{% endif %} 