<div class="list-group" data-active="{{active}}">
  {% if logged %}
  <a href="{{ account }}" class="list-group-item">{{ text_account }}</a>
  <a href="{{ order }}" class="list-group-item"><span data-orders="{% if order_total %}{{order_total}}{% else %} 0 {% endif %}">{{ text_order }}</span></a>
  <a href="{{ reward }}" class="list-group-item">{{ text_reward }}</a>
  <a href="{{ return }}" class="list-group-item">{{ text_return }}</a>
  <a href="{{ wishlist }}" class="list-group-item">{{ text_wishlist }}</a>
  <a href="{{ logout }}" class="list-group-item">{{ text_logout }}</a>
  {% else %}
  <a href="{{ wishlist }}" class="list-group-item">{{ text_wishlist }}</a>
  {% endif %}
</div>
