{{ header }}
<div id="account-account" class="container page-{{page}}">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <h2>Личный кабинет</h2>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col-md-9 col-sm-8 account_content account_content_profile">
      <h3>Профиль</h3>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal account_profile">
        <div class="form-group required">
          <label for="input-firstname" class="control-label">Имя*</label>
          <input id="input-firstname" type="text" class="form-control" name="firstname" value="{{ firstname }}">
        </div>
        <div class="form-group required">
          <label for="input-email" class="control-label">E-mail*</label>
          <input id="input-email" type="text" class="form-control" name="email" value="{{ email }}">
        </div>
        <div class="form-group required">
          <label for="input-telephone" class="control-label">Номер телефона*</label>
          <input id="input-telephone" type="text" class="form-control" name="telephone" value="{{ telephone }}">
        </div>
        <div class="form-group required">
          <label for="" class="control-label">Пароль*</label>
          <input type="password" class="form-control" name="password" value="">
        </div>
        <div class="form-group required">
          <label for="" class="control-label">Повторите пароль*</label>
          <input type="password" class="form-control" name="confirm" value="">
        </div>
        <div class="form-group required">
          <label class="control-label" for="user_type">&nbsp;</label>
          <div class="row min switcher">
            {% if user_type == 1 %}
            {% set usercopm = ' opacity30' %}
            {% set disabled = 'disabled' %}
            <div class="col-xs-6 active" data-switch="1">физ. лицо</div>
            <div class="col-xs-6" data-switch="2">компания</div>
            {% else %}
            {% set usercopm = '' %}
            {% set disabled = '' %}
            <div class="col-xs-6" data-switch="1">физ. лицо</div>
            <div class="col-xs-6 active" data-switch="2">компания</div>
            {% endif %}
          </div>
          <input type="hidden" name="custom_field[account][4]" value="{{user_type}}">
        </div>
        <div class="form-group _usercomp{{usercopm}}">
          <label class="control-label" for="input-custom-field2">ИНН</label>
          <input type="text" name="custom_field[account][2]" value="{{inn}}" id="input-custom-field2" class="form-control" {{disabled}} />
        </div>
        <div class="form-group _usercomp{{usercopm}}">
          <label class="control-label" for="input-custom-field1">Загрузить реквизиты компании</label>
          <div class="input_file_reg">
            <div id="fountainG" class="loading">
              <div id="fountainG_1" class="fountainG"></div>
              <div id="fountainG_2" class="fountainG"></div>
              <div id="fountainG_3" class="fountainG"></div>
              <div id="fountainG_4" class="fountainG"></div>
              <div id="fountainG_5" class="fountainG"></div>
              <div id="fountainG_6" class="fountainG"></div>
              <div id="fountainG_7" class="fountainG"></div>
              <div id="fountainG_8" class="fountainG"></div>
            </div>
            {% if rekvizits_name %}
            <span>{{rekvizits_name}}</span>
            {% else %}
            <span>Выбрать</span>
            {% endif %}
          </div>
          <input type="hidden" name="custom_field[account][1]" value="{{rekvizits}}" id="input-custom-field1" />
        </div>
        <div class="form-group form_btn">
          <input type="submit" value="Сохранить" class="btn_black" />
        </div>
      </form>
    </div>
  </div>
</div>
{{ footer }}