{{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="rowmin">
    <div id="content" class="col-sm-12">
      <h1>Корзина</h1>
      <p class="not_cart hidden">Корзина пуста, вернуться <a href="../">на главную</a>!</p>
      <ul class="list-unstyled cart_steps clearfix">
        {% if mobile %}
          <div class="return_btn"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path fill="#707070" d="M5.226 11.52c.218.225.58.225.806 0a.569.569 0 0 0 0-.799L1.944 6.633h13.492c.314 0 .564-.25.564-.565a.568.568 0 0 0-.564-.573H1.944l4.088-4.08a.579.579 0 0 0 0-.807.565.565 0 0 0-.806 0L.169 5.664a.555.555 0 0 0 0 .799z"/></g></g></svg>Вернуться назад</span></div>
        {% endif %}
        {% if step and step == 2 %}{% set active = 'active' %}{% else %}{% set active = 'active' %}{% endif %}
        <li class="step {{active}}" data-step="1"><span>1</span> <span class="st">Корзина</span></li>
        {% if step and step == 2 %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
        <li class="step {{active}}" data-step="2"><span>2</span> <span class="st">{% if not mobile %}Детали получения{% else %}Детали{% endif %}</span></li>
        <li class="step disabled" data-step="3"><span>3</span> <span class="st">{% if not mobile %}Заказ офрмлен{% else %}Заказ{% endif %}</span></li>
        {% if not mobile %}
          <div class="return_btn"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path fill="#707070" d="M5.226 11.52c.218.225.58.225.806 0a.569.569 0 0 0 0-.799L1.944 6.633h13.492c.314 0 .564-.25.564-.565a.568.568 0 0 0-.564-.573H1.944l4.088-4.08a.579.579 0 0 0 0-.807.565.565 0 0 0-.806 0L.169 5.664a.555.555 0 0 0 0 .799z"/></g></g></svg>Вернуться назад</span></div>
        {% endif %}
      </ul>
      {% if step and step == 2 %}{% set active = '' %}{% else %}{% set active = 'active' %}{% endif %}
      <div class="rowmin steps step_first {{active}}" data-step="1">
        <div class="col-lg-8 col-sm-12">
          {% set p = 0 %}
          {% set b = 0 %}
          {% for product in products %}
            <div class="product_cart clearfix" data-id="{{ product.cart_id }}">
              <span class="delete"></span>
              <div class="image"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></div>
              <div class="name">
                <a href="{{ product.href }}">{{ product.name }}</a>{% if product.option %}{% for option in product.option %} <span>{{ option.name }}: {{ option.value }}</span>{% endfor %}{% endif %}
              </div>
              <div class="price">{{ product.price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></div>
              <div class="quantity">
                <span class="minus">-</span>
                <div class="qnum_num">
                  <span class="qnum">{{ product.quantity }}</span>
                  <span class="num">шт</span>
                </div>
                <span class="plus">+</span>
                <input id="input-quantity{{ product.cart_id }}" class="input_quantity" type="number" name="quantity[{{ product.cart_id }}]" min="1" max="{{product.maximum}}" value="{{ product.quantity }}" autocomplete="off" />
              </div>
              <div class="total"><span>Итого:</span><span class="_total">{{ product.total }}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg><span class="reward">+<i> {{ product.reward }}</i> Бонусов</span></div>
            </div>
          {% set p = p + product.quantity %}
          {% set b = b + product.reward %}
          {% endfor %}
          <div class="_bonuses">На ваш бонусный счет будет начислено <b><span class="_tbonus">{{ b }}</span> бонусов</b> после оплаты заказа</div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="cart_totals_block">
            <h3>Стоимость заказа</h3>
            <div class="cart_ptb cart_prices">
              <div class="row min">
                <div class="col-sm-8 col-xs-9"><p>Стоимость товаров <span class="total_tovars">{{ p }}</span> шт.</p></div>
                <div class="col-sm-4 col-xs-3 text-right"><b><span class="total_tovar">{{total}}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></b></div>
              </div>
            </div>
            {% if reward_pay > 0 %}
            <div class="cart_ptb cart_bonuses">
              <div class="row min">
                <div class="col-sm-8 col-xs-9"><p>Бонусы</p></div>
                <div class="col-sm-4 col-xs-3 text-right"><b>- <span class="total_bonus">{{reward_pay}}</span> Б</b></div>
              </div>
            </div>
            {% endif %}
            <div class="cart_ptb cart_totals">
              <div class="row min">
                <div class="col-sm-8 col-xs-9"><p>Итого:</p></div>
                <div class="col-sm-4 col-xs-3 text-right"><b><span class="total_price">{{all_total}}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></b></div>
              </div>
            </div>
            <div id="cart_btn_step" class="btn_black">Оформить заказ</div>
            <div class="cart_helps">
              <h3>Поможем оформить заказ</h3>
              <p>8-800-775-70-29</p>
              <p>Ежедневно с 8:00‒17:00 по Москве</p>
            </div>
          </div>
        </div>
      </div>
      {% if step and step == 2 %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
      <div class="rowmin steps step_two {{active}}" data-step="2">
        <div class="col-sm-12">
          <div class="rowmin raccount">
            <div class="col-sm-7 col-xs-12">
              <div id="account_data" class="btn_raccount" data-customer="{{ customer }}">Использовать данные аккаунта</div>
              <p>Данные вашего профиля автоматически заполняются</p>
            </div>
            {% if customer == 0 %}
            <div class="col-sm-5 col-xs-12">
              <div class="raccount_text">Для этой функции нужно <a href="#" data-toggle="modal" data-target="#auth">авторизоваться</a></div>
            </div>
            {% endif %}
          </div>
          <div class="rowmin way">
            <div class="col-md-5 col-sm-12">
              {% if customer != 0 %}
              <div class="bonus_pay">
                <h2 class="bonus_pay_title">Бонусы</h2>
                <p class="bonus_count">У вас: <span><b>{{reward}}</b> Бонусов</span></p>
                <p class="bonus_text">Введите количество</p>
                <div class="range_block">
                  <div class="range range_fprice" data-min="0" data-max="{{reward}}" data-step="1" data-suffix=" Б"></div>
                  <div class="row range_values">
                    <label class="col-sm-6 col-xs-6" for="">
                      <input class="form-control" type="text" name="bonus_pay" value="{{reward_pay}} Б">
                      <p>Ручной ввод</p>
                    </label>
                    <label class="col-sm-6 col-xs-12" for="">
                      <div id="bonus_pay" class="btn_black">Списать бонусы</div>
                    </label>
                  </div>
                </div>
              </div>
              {% endif %}
              <h2 class="payment_title">Способ оплаты</h2>
              <div class="payment">
                <!--<div class="inputs"><input id="payment1" type="radio" name="payment" value="cod"><label for="payment1">Наличными при получении</label></div>
                <div class="inputs"><input id="payment2" type="radio" name="payment" value="cheque"><label for="payment2">Банковской картой на сайте</label></div>-->
                <div class="inputs"><input id="payment3" type="radio" name="payment" value="bank_transfer" checked><label for="payment3">Банковский перевод</label></div>
              </div>
              <h2 class="delivery_title">Способ доставки</h2>
              <div class="delivery">
                <div class="inputs"><input id="delivery1" type="radio" name="shipping" value="free"><label for="delivery1">Самовывоз</label></div>
                <div class="inputs"><input id="delivery2" type="radio" name="shipping" value="pickup" checked><label for="delivery2">Транспортной компанией</label></div>
              </div>
              <p class="delivery_caption">Стоимость доставки транспортной компанией рассчитывается согласно тарифам и&nbsp;оплачивается при получении товара. После оформления заказа с&nbsp;вами свяжется менеджер и&nbsp;поможет организовать доставку.</p>
            </div>
            <div class="col-md-7 col-sm-6 cart_totals_block_stiky">
              <div class="cart_totals_block">
                <h3>Стоимость заказа</h3>
                <div class="cart_ptb cart_prices">
                  <div class="row min">
                    <div class="col-sm-8 col-xs-9"><p>Стоимость товаров <span class="total_tovars">{{ p }}</span> шт.</p></div>
                    <div class="col-sm-4 col-xs-3 text-right"><b><span class="total_tovar">{{total}}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></b></div>
                  </div>
                </div>
                <div class="cart_ptb cart_bonuses">
                  <div class="row min">
                    <div class="col-sm-8 col-xs-9"><p>Бонусы</p></div>
                    <div class="col-sm-4 col-xs-3 text-right"><b>- <span class="total_bonus">{{reward_pay}}</span> Б</b></div>
                  </div>
                </div>
                <div class="cart_ptb cart_totals">
                  <div class="row min">
                    <div class="col-sm-8 col-xs-9"><p>Итого:</p></div>
                    <div class="col-sm-4 col-xs-3 text-right"><b><span class="total_price">{{all_total}}</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></b></div>
                  </div>
                </div>
                <div class="cart_helps">
                  <h3>Поможем оформить заказ</h3>
                  <p>8-800-775-70-29</p>
                  <p>Ежедневно с 8:00‒17:00 по Москве</p>
                </div>
              </div>
            </div>
          </div>
          <form id="delivery" class="form-horizontal" action="../index.php?route=checkout/checkout/order" method="post" enctype="multipart/form-data">
            <div class="rowmin delivery_data">
              <div class="col-sm-12"><h2>Данные для доставки</h2></div>
              <div class="col-sm-6 delivery_data_1">
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-fio">ФИО</label>
                    <input type="text" name="name" value="" id="input-fio" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-mail">Email</label>
                    <input type="email" name="email" value="" id="input-mail" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-phone">Телефон</label>
                    <input type="tel" name="phone" value="" id="input-phone" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12 lico">
                    <label class="control-label" for="user_type">&nbsp;</label>
                    <div class="row min switcher">
                      <div class="col-xs-6 active" data-switch="1">физ.лицо</div>
                      <div class="col-xs-6" data-switch="2">компания</div>
                    </div>
                    <input type="hidden" name="user_type" value="1">
                  </div>
                </div>
                <div class="form-group _usercomp opacity30">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-cart_inn">ИНН</label>
                    <input type="text" name="inn" value="" id="input-cart_inn" class="form-control" disabled />
                  </div>
                </div>
                <div class="form-group _usercomp opacity30">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-cart_file">Загрузить реквизиты компании</label>
                    <div class="input_file">
                      <div id="fountainG" class="loading">
                        <div id="fountainG_1" class="fountainG"></div>
                        <div id="fountainG_2" class="fountainG"></div>
                        <div id="fountainG_3" class="fountainG"></div>
                        <div id="fountainG_4" class="fountainG"></div>
                        <div id="fountainG_5" class="fountainG"></div>
                        <div id="fountainG_6" class="fountainG"></div>
                        <div id="fountainG_7" class="fountainG"></div>
                        <div id="fountainG_8" class="fountainG"></div>
                      </div>
                      <span>Выбрать</span>
                    </div>
                    <input type="hidden" name="file_code" value="" />
                  </div>
                </div>
                {% if not mobile %}
                <div class="form-group clearfix not_mobile">
                  <div class="col-sm-12">
                    <div id="cart_to_pay" type="submit" data-loading-text="..." class="btn_black">Отправить</div>
                    <p>Нажимая на кнопку, вы соглашаетесь с условиями <a href="{{politics}}" target="_blank">политики конфиденциальности и обработки персональных данных</a></p>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-sm-6 delivery_data_2 _delivery">
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-zone">Регион, Область</label>
                    <input type="text" name="zone" value="" id="input-zone" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-city">Город (населенный пункт)</label>
                    <input type="text" name="city" value="" id="input-city" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-address_1">Улица</label>
                    <input type="text" name="address_1" value="" id="input-address_1" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-kv">Квартира</label>
                    <input type="text" name="kv" value="" id="input-kv" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-postcode">Индекс</label>
                    <input type="text" name="postcode" value="" id="input-postcode" class="form-control" />
                  </div>
                </div>
              </div>
              {% if mobile %}
              <div class="col-xs-12">
                <div class="form-group clearfix">
                  <div class="col-sm-12">
                    <div id="cart_to_pay" type="submit" data-loading-text="..." class="btn_black">Отправить</div>
                    <p>Нажимая на кнопку, вы соглашаетесь с условиями <a href="{{politics}}" target="_blank">политики конфиденциальности и обработки персональных данных</a></p>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <input type="hidden" name="reward_pay" value="{{reward_pay}}">
            <input type="hidden" name="total" value="{{total}}">
            <input type="hidden" name="payment_method" value="cod">
            <input type="hidden" name="shipping_method" value="pickup">
            {% if customer_id %}
            <input type="hidden" name="customer_id" value="{{ customer_id }}">
            {% endif %}
          </form>
        </div>
      </div>
      <div class="rowmin steps step_tree" data-step="3"></div>
    </div>
  </div>
</div>
<script>
  var delivery_total = $('#delivery input[name="total"]');
  delivery_total.val(delivery_total.val().replace(/\s/g, ''));
  $('.range').each(function(){
    var self = $(this);
    var range_values = self.next('.range_values');

    self.slider({
      min: self.data('min'),
      max: self.data('max'),
      step: self.data('step'),
      value: parseInt(range_values.find('label:first input').val()),
      slide: function( event, ui ) {
        range_values.find('label:first input').val(ui.value + self.data('suffix'));
      },
    });
  });

  $('#bonus_pay').click(function(){
    var reward = $('.bonus_pay .range_fprice').data('max'),
    reward_pay = parseInt($('.bonus_pay input[name="bonus_pay"]').val().replace(/\s/g, '')),
    total = parseInt($('#delivery input[name="total"]').val().replace(/\s/g, ''));
    var new_total = (total - reward_pay);

    $('#delivery input[name="reward_pay"]').val(reward_pay);
    $('.cart_bonuses .total_bonus').text(reward_pay.toLocaleString('ru-RU'));
    $('.cart_totals .total_price').text(new_total.toLocaleString('ru-RU'));

    $.ajax({
      url: 'index.php?route=extension/total/reward/reward',
      type: 'post',
      data: 'reward=' + reward_pay,
      dataType: 'json',
      success: function(json) {
        console.log(json);
      },
      error: function(xhr, ajaxOptions, thrownError){
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
  
  $('.input_file').on('click', function() {
    var element = this;
  
    if($(element).parent().parent().hasClass('opacity30')){
      return false;
    }

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name="file"]').trigger('click');

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
      if ($('#form-upload input[name="file"]').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function() {
            $(element).children('.loading').addClass('on');
          },
          success: function(json) {
            if (json['error']) {
              alert(json['error']);
            }

            if (json['success']) {
              //alert(json['success']);

          $(element).children('.loading').removeClass('on');
              $(element).children('span').text(json['origin_name']);
              $(element).next().val(json['code']);
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });

  $('.cart_steps .step:not(.disabled)').click(function() {
    var step = $(this).attr('data-step');
    $('.cart_steps .step, .steps').removeClass('active link');
    $('.cart_steps .step[data-step="'+step+'"], .steps[data-step="'+step+'"]').addClass('active');
    $('.cart_steps .step[data-step="'+step+'"]').prevAll().addClass('active link');

    if(step == 2){
      $('.return_btn').addClass('on');
    } else {
      $('.return_btn').removeClass('on');
    }
  });

  $('#cart_btn_step').click(function(){
    $('.cart_steps .step, .steps').removeClass('active');
    $('.cart_steps .step[data-step="1"]').addClass('link');
    $('.cart_steps .step[data-step="1"], .cart_steps .step[data-step="2"], .steps[data-step="2"]').addClass('active');
    $('html, body').animate({scrollTop: 0}, 450);
    $('.return_btn').addClass('on');
  });
  
  $('.return_btn').click(function(){
    $(this).removeClass('on');
    $('.cart_steps .step, .steps').removeClass('active link');
    $('.cart_steps .step[data-step="1"], .steps[data-step="1"]').addClass('active');
  });

  $('.delete').click(function(){
    var cart_id = $(this).parents('.product_cart').data('id');
    var product_item = $(this).parents('.product_cart');

    $.ajax({
      url: 'index.php?route=checkout/cart/remove',
      type: 'post',
      data: 'key=' + cart_id,
      dataType: 'json',
      success: function(json) {
      console.log(json);
      $('._cart_header').attr('data-count', json['count_cart']);
        product_item.fadeOut(200, function(){
          $(this).detach();
        });

        pre_cart(json);
  
      if(json['count_cart'] == 0){
        $('.cart_steps, .steps, ._bonuses').detach();
        $('.not_cart').removeClass('hidden');
      }
      },
      error: function(xhr, ajaxOptions, thrownError){
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  $('input[name="shipping"]').change(function(){
    if($(this).val() == 'free'){
      $('.delivery_data > ._delivery').css('display', 'none');
    } else {
      $('.delivery_data > ._delivery').css('display', 'block');
    }

    $('input[name="shipping_method"]').val($(this).val());
  });

  $('input[name="payment"]').change(function(){
    $('input[name="payment_method"]').val($(this).val());
  });

  $('#cart_to_pay').click(function(e){
    var cart_form = {};
    var errors = false;

    $('#delivery .form-group.required label, #delivery .form-group.required input[type="text"]').removeClass('_error');

    $('#delivery .delivery_data_1 .form-group.required').each(function(){
      if($(this).find('input[type="text"]').val() == ''){
        if(!errors){
          $('html, body').animate({scrollTop: ($(this).offset().top - 15)}, 750);
        }
        errors = true;
        $(this).find('input[type="text"], label').addClass('_error');
      }
    });

    if($('#delivery .delivery_data_2').css('display') == 'block'){
      $('#delivery .delivery_data_2 .form-group.required').each(function(){
        if($(this).find('input[type="text"]').val() == ''){
          errors = true;
          $(this).find('input[type="text"], label').addClass('_error');
        }
      });
    }

    if(!errors){
      $('#delivery .delivery_data_1 input[type="text"], #delivery .delivery_data_1 input[type="hidden"]').each(function(){
        cart_form[$(this).attr('name')] = $(this).val();
      });

      if($('#delivery .delivery_data_2').css('display') == 'block'){
        $('#delivery .delivery_data_2 input[type="text"], #delivery .delivery_data_1 input[type="hidden"]').each(function(){
          cart_form[$(this).attr('name')] = $(this).val();
        });
      }

      console.log(cart_form);

      $('#delivery').trigger('submit');

      /*$.ajax({
        url: 'index.php?route=checkout/checkout/order',
        type: 'post',
        data: cart_form,
        dataType: 'json',
        success: function(json) {
          console.log(json);
        },
        error: function(xhr, ajaxOptions, thrownError){
          console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });*/
    } else {
      e = e || event;
      e.preventDefault();
      return false;
    }
  });

  $('#account_data').click(function() {
    var customer = parseInt($(this).data('customer'));
    
    if(customer == 0){
      return false;
    }
    
    $.ajax({
      url: 'index.php?route=account/account/account_data',
      type: 'get',
      dataType: 'json',
      success: function(json) {
        console.log(json);

        $('.delivery_data_1 input[name="name"]').val(json.firstname);
        $('.delivery_data_1 input[name="email"]').val(json.email);
        $('.delivery_data_1 input[name="phone"]').val(json.telephone);

        $('.delivery_data_1 .switcher > div[data-switch="'+json.user_type+'"]').trigger('click');
        $('.delivery_data_1 input[name="inn"]').val(json.inn);

        if(json.rekvizits != ''){
          $('.delivery_data_1 input[name="file_code"]').val(json.rekvizits);
          $('.delivery_data_1 .input_file > span').text(json.rekvizits_name);
        }

        $('#account_data').text('Данные подставлены');
      },
      error: function(xhr, ajaxOptions, thrownError){
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  var bonus = parseFloat($('._bonuses > ._tbonus').text());
  $('._bonuses > ._tbonus').html(reward_text_cases(bonus));

  $('.product_cart').each(function(){
  	var _bonus = parseFloat($(this).find('.reward > i').text().replace(/\s/g, ''));
  	$(this).find('.reward > i').html(reward_text_cases(_bonus, true));
  });
</script>
{{ footer }} 