<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000;">
<div style="width: 680px;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="{{ store_url }}catalog/view/theme/default/img/logo_png.png" alt="{{ store_name }}" style="margin-bottom: 30px; border: none;" /></a>
  <p style="margin-top: 0px; margin-bottom: 20px;"></p>
  <p style="margin-top: 0px; margin-bottom: 20px;"></p>
  <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
    <thead>
      <tr>
        <td style="font-size: 16px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: center; padding: 7px; color: #222222;" colspan="2">Данные о заказе</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; width: 60%;">
          <b>Заказ №{{ order_id }}</b> <br />
          <b>Дата покупки:</b> {{ date_added }}<br />
          <b>Способ оплаты:</b> {{ payment_method }}<br />
          <b>Способ доставки:</b> {{ shipping_method }}
        </td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; width: 40%;">
          <b>ФИО:</b> {{ firstname }}<br />
          <b>E-mail:</b> {{ email }}<br />
          <b>Телефон:</b> {{ telephone }}<br /></td>
      </tr>
    </tbody>
    {% if shipping_custom_field %}
    <tfoot>
      <tr>
        <td style="font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; width: 100%;"  colspan="2">Дополнительные данные</td>
      </tr>
      <tr>
        <td style="font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; width: 100%;"  colspan="2">
          {% if user_type %}
            <b>Тип пользователя:</b> {{user_type}}<br />
          {% endif %}
          {% if inn %}
            <b>ИНН:</b> {{inn}}<br />
          {% endif %}
          {% if rekviz %}
            <a href="{{rekviz}}">Реквизиты</a>
          {% endif %}
        </td>
      </tr>
    </tfoot>
    {% endif %}
  </table>

  {% if shipping_address_format %}
  <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
    <thead>
      <tr>
        <td style="font-size: 16px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Данные о доставке</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ shipping_address_format }}</td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
    <thead>
      <tr>
        <td style="font-size: 14px; font-weight: 700; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Товар</td>
        <td style="font-size: 14px; font-weight: 700; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Артикул</td>
        <td style="font-size: 14px; font-weight: 700; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Количество</td>
        <td style="font-size: 14px; font-weight: 700; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Цена</td>
        <td style="font-size: 14px; font-weight: 700; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Сумма</td>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td style="font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.name }}
          {% for option in product.option %}<br />
          &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>{% endfor %}</td>
        <td style="font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.model }}</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.quantity }}</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.price }} р.</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.total }} р.</td>
      </tr>
      {% endfor %}
      {% for voucher in vouchers %}
      <tr>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ voucher.description }}</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"></td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">1</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      {% for total in totals %}
      <tr>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;" colspan="4">{{ total.title }}:</td>
        <td style="font-size: 14px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ total.text }} р.</td>
      </tr>
      {% endfor %}
    </tfoot>
  </table>
</div>
</body>
</html>
