{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="rowmin">
    <div id="content" class="col-sm-12">
      <div class="tablet mobile product_title">
        <h1>{{ heading_title }}</h1>
        <p class="articul">{{ model }}</p>
      </div>
      <div class="rowmin">
        <div class="col-md-7 col-sm-12"> 
          {% if thumb or images %}
          <ul class="thumbnails">
            {% if thumb %}
            <li class="thumbnails_big">
              {% if special %}
              <span class="stock">Акция</span>
              {% endif %}
              {% if hit %}
              <span class="hit">Хит</span>
              {% endif %}
              <a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
            </li>
            {% endif %}
            {% if images %}
              {% set i = 0 %}
              {% for image in images %}
                {% if i < 4 %}
                <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
                {% endif %}
                {% set i = i + 1 %}
              {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <div class="col-md-5 col-sm-12 product_caption">
          {% if not mobile %}
            <h1>{{ heading_title }}</h1>
            <p class="articul">{{ model }}</p>
            <div class="product_caption_price">
              <div class="instock_wishlist">
                <div class="instock">В наличии</div>
                <div class="wishlist" onclick="wishlist.add('{{ product_id }}');">В избранное</div>
              </div>
            </div>
            {% if attribute_groups %}
            <div class="caption">
              <h2>Характеристики</h2>
              <div class="products_characteristics">
              {% for attribute_group in attribute_groups %}
                {% if attribute_group.attribute_group_id == 7 %}
                  {% set a = 0 %}
                  {% for attribute in attribute_group.attribute %}
                    {% if a < 5 %}
                    <div class="row chars" data-attribute="{{ attribute.attribute_id }}">
                      <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8 chars_name"><span>{{ attribute.name }}</span></div>
                      <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4 chars_res"><span>{{ attribute.text }}</span></div>
                    </div>
                    {% endif %}
                    {% set a = a + 1 %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if options %}
            <div class="options">
              {% for option in options %}
                <div class="options_block" data-option-id="{{ option.product_option_id }}">
                  {% if option.type == 'radio' %}
                  <div class="options_color">
                    <p>{{ option.name }}</p>
                    <div class="options_color__list clearfix">
                      {% if option_count == 1 %}
                      {% set checked = ' checked' %}
                      {% else %}
                      {% set checked = '' %}
                      {% endif %}
                      {% for option_value in option.product_option_value %}
                      <div class="inputs">
                        <input id="option{{ option.product_option_id }}{{ option_value.product_option_value_id }}" type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-radio="color" data-option-name="{{ option_value.name }}" data-color="#6500c9"{{checked}}>
                        <label for="option{{ option.product_option_id }}{{ option_value.product_option_value_id }}" data-title="{{ option_value.name }}" data-image="{{ option_value.image }}"><span data-title="{{ option_value.name }}"></span></label>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="prices">
              {% if price %}
              <ul class="list-unstyled">
                {% if not special %}
                <li class="price">
                  <h2>{{ price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg> <span>+ 200 Бонусов</span></h2>
                </li>
                {% else %}
                <li class="special"><span style="text-decoration: line-through;">{{ price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 35.74"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M18.29,25.05v3.69H8.2v7H3.34v-7H.05V25.05H3.34V20.34H0V16.65H3.34V0H13.4a22,22,0,0,1,5.36.6,11.49,11.49,0,0,1,4.06,1.85A8.25,8.25,0,0,1,25.4,5.58,10.18,10.18,0,0,1,26.3,10a10.72,10.72,0,0,1-.76,4.07,8.5,8.5,0,0,1-2.39,3.28A11.71,11.71,0,0,1,19,19.55a20.34,20.34,0,0,1-6.06.79H8.2v4.71Zm3-15q0-3.44-2-4.91T13.18,3.69h-5v13h4.54a18.33,18.33,0,0,0,3.57-.31A7.16,7.16,0,0,0,19,15.27a4.83,4.83,0,0,0,1.68-2A7.64,7.64,0,0,0,21.25,10.06Z"/></g></g></svg></span></li>
                <li class="price">
                  <h2>{{ special }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg> <span>+ <b>200</b> Бонусов</span></h2>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
            <div class="product_cbtn clearfix">
              <div class="quantity">
                <span class="minus">-</span>
                <div class="qnum_num">
                  <span class="qnum">1</span>
                  <span class="num">шт</span>
                </div>
                <span class="plus">+</span>
                <input type="number" name="quantity" min="1" max="99" value="1" id="input-quantity" autocomplete="off" />
                <input type="hidden" name="product_id" value="{{ product_id }}" />
              </div>
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn_to_cart">В корзину</button>
            </div>
          {% else %}
            <div class="prices">
              {% if price %}
              <ul class="list-unstyled">
                {% if not special %}
                <li class="price">
                  <h2>{{ price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg> <span>+ 200 Бонусов</span></h2>
                </li>
                {% else %}
                <li class="special"><span style="text-decoration: line-through;">{{ price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 35.74"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M18.29,25.05v3.69H8.2v7H3.34v-7H.05V25.05H3.34V20.34H0V16.65H3.34V0H13.4a22,22,0,0,1,5.36.6,11.49,11.49,0,0,1,4.06,1.85A8.25,8.25,0,0,1,25.4,5.58,10.18,10.18,0,0,1,26.3,10a10.72,10.72,0,0,1-.76,4.07,8.5,8.5,0,0,1-2.39,3.28A11.71,11.71,0,0,1,19,19.55a20.34,20.34,0,0,1-6.06.79H8.2v4.71Zm3-15q0-3.44-2-4.91T13.18,3.69h-5v13h4.54a18.33,18.33,0,0,0,3.57-.31A7.16,7.16,0,0,0,19,15.27a4.83,4.83,0,0,0,1.68-2A7.64,7.64,0,0,0,21.25,10.06Z"/></g></g></svg></span></li>
                <li class="price">
                  <h2>{{ special }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg> <span>+ <b>200</b> Бонусов</span></h2>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
            <div class="product_cbtn clearfix">
              <div class="quantity">
                <span class="minus">-</span>
                <div class="qnum_num">
                  <span class="qnum">1</span>
                  <span class="num">шт</span>
                </div>
                <span class="plus">+</span>
                <input type="number" name="quantity" min="1" max="99" value="1" id="input-quantity" autocomplete="off" />
                <input type="hidden" name="product_id" value="{{ product_id }}" />
              </div>
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn_to_cart">В корзину</button>
            </div>
            <div class="product_caption_price">
              <div class="instock_wishlist">
                <div class="instock">В наличии</div>
                <div class="wishlist" onclick="wishlist.add('{{ product_id }}');">В избранное</div>
              </div>
            </div>
            {% if attribute_groups %}
            <div class="caption">
              <h2>Характеристики</h2>
              <div class="products_characteristics">
              {% for attribute_group in attribute_groups %}
                {% if attribute_group.attribute_group_id == 7 %}
                  {% set a = 0 %}
                  {% for attribute in attribute_group.attribute %}
                    {% if a < 5 %}
                    <div class="row chars" data-attribute="{{ attribute.attribute_id }}">
                      <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8 chars_name"><span>{{ attribute.name }}</span></div>
                      <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4 chars_res"><span>{{ attribute.text }}</span></div>
                    </div>
                    {% endif %}
                    {% set a = a + 1 %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if options %}
            <div class="options">
              {% for option in options %}
                <div class="options_block" data-option-id="{{ option.product_option_id }}">
                  {% if option.type == 'radio' %}
                  <div class="options_color">
                    <p>{{ option.name }}</p>
                    <div class="options_color__list clearfix">
                      {% if option_count == 1 %}
                      {% set checked = ' checked' %}
                      {% else %}
                      {% set checked = '' %}
                      {% endif %}
                      {% for option_value in option.product_option_value %}
                      <div class="inputs">
                        <input id="option{{ option.product_option_id }}{{ option_value.product_option_value_id }}" type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-radio="color" data-option-name="{{ option_value.name }}" data-color="#6500c9">
                        <label for="option{{ option.product_option_id }}{{ option_value.product_option_value_id }}" data-title="{{ option_value.name }}" data-image="{{ option_value.image }}"><span data-title="{{ option_value.name }}"></span></label>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="rowmin tabs_caption">
        <div class="col-md-7 col-sm-12">
          {% if not mobile %}
          <ul class="nav nav-tabs nav_products">
            <li class="active"><a href="#tab-char" data-toggle="tab">Все характеристики</a></li>
            <li class=""><a href="#tab-documents" data-toggle="tab">Документы и файлы</a></li>
            <li class=""><a href="#tab-dostavka" data-toggle="tab">О доставке и оплате</a></li>
            <li class=""><a href="#tab-vozvrat" data-toggle="tab">Возврат</a></li>
          </ul>
          <div class="tab-content product_tabs">
            <div class="tab-pane active" id="tab-char">
              <div class="products_characteristics">
                {% for attribute_group in attribute_groups %}
                  {% if attribute_group.attribute_group_id == 7 %}
                    {% for attribute in attribute_group.attribute %}
                      <div class="row chars" data-attribute="{{ attribute.attribute_id }}">
                        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8 chars_name"><span>{{ attribute.name }}</span></div>
                        <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4 chars_res"><span>{{ attribute.text }}</span></div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-documents">
              <div class="product_documents">
                {% if downloads %}
                <div class="rowmin">
                {% for download in downloads %}
                  <div class="col-sm-6 col-xs-12 product_file" data-mask="{{download.mask}}"><p><a href="{{download.link}}" target="_blank"><span><span>{{download.name}}</span></span></a></p></div>
                {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="tab-pane" id="tab-dostavka">
              <div class="product_description">{{description}}</div>
            </div>
            <div class="tab-pane" id="tab-vozvrat">
              <div class="product_description description_return">{{description_return}}</div>
            </div>
          </div>
          {% else %}
          <div class="nav_products">
            <div class="tab_product">
              <h3>Все характеристики<span class="mobile_slide_arrow"></span></h3>
              <div class="tab-content product_tabs">
                <div class="tab-pane">
                  <div class="products_characteristics">
                    {% for attribute_group in attribute_groups %}
                      {% if attribute_group.attribute_group_id == 7 %}
                        {% for attribute in attribute_group.attribute %}
                          <div class="row chars" data-attribute="{{ attribute.attribute_id }}">
                            <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8 chars_name"><span>{{ attribute.name }}</span></div>
                            <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4 chars_res"><span>{{ attribute.text }}</span></div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab_product">
              <h3>Документы и файлы<span class="mobile_slide_arrow"></span></h3>
              <div class="tab-content product_tabs">
                <div class="tab-pane">
                  <div class="product_documents">
                    {% if downloads %}
                    <div class="rowmin">
                    {% for download in downloads %}
                      <div class="col-sm-6 col-xs-12 product_file" data-mask="{{download.mask}}"><p><a href="{{download.link}}" target="_blank"><span><span>{{download.name}}</span></span></a></p></div>
                    {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab_product">
              <h3>О доставке и оплате<span class="mobile_slide_arrow"></span></h3>
              <div class="tab-content product_tabs">
                <div class="tab-pane">
                  <div class="product_description">{{description}}</div>
                </div>
              </div>
            </div>
            <div class="tab_product">
              <h3>Возврат<span class="mobile_slide_arrow"></span></h3>
              <div class="tab-content product_tabs">
                <div class="tab-pane">
                  <div class="product_description description_return">{{description_return}}</div>
                </div>
              </div>
            </div>
          </div>
          <div id="specialist"></div>
          {% endif %}
          <div class="reviews">
            <div class="product_reviews">
              {% if not mobile %}<a href="#" class="abtn abtn_review" data-toggle="modal" data-target="#reviewsModal">Написать отзыв</a>{% endif %}
              <h2>Отзывы о товаре <span>({{ heading_title }})</span></h2>
              <div id="review"></div>
              {% if mobile %}
              <form class="form-horizontal" id="form-review">
                <div class="form_block">
                  <h2>Написать отзыв</h2>
                  <div class="form-group required">
                    <div class="col-sm-7">
                      <label class="control-label" for="input-name">Ваше имя</label>
                      <input type="text" name="name" value="" id="input-name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group raccount">
                    <div class="col-sm-7">
                      <div class="btn_raccount" data-customer="{{customer}}">Использовать данные аккаунта</div>
                      <p>Данные вашего профиля автоматически заполняются</p>
                    </div>
                    {% if customer == 0 %}
                    <div class="col-sm-5">
                      <div class="raccount_text">Для этой функции нужно <a href="#" data-toggle="modal" data-target="#auth">авторизоваться</a></div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-review">Ваш комментарий</label>
                      <textarea name="text" rows="4" id="input-review" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label">Ваша оценка товару</label>
                      <div class="form_rating clearfix">
                        {% for i in 1..5 %}
                          <div class="inputs">
                            <input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}" data-radio="star">
                            <label for="rating{{ i }}"></label>
                          </div>
                        {% endfor %}
                        <span class="rating_num"><span>0</span>/5</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group buttons clearfix">
                    <div id="button-review" class="btn_review">Оставить отзыв</div>
                    <div class="text_politics">
                      <span>Нажимая на&nbsp;кнопку, вы&nbsp;соглашаетесь с&nbsp;условиями <a href="http://alfa.promolink.su/privacy" target="_blank">политики конфиденциальности и&nbsp;обработки персональных данных</a>.</span>
                    </div>
                  </div>
                </div>
                <div class="form_success"><span>Спасибо, ваше отзыв отправлен, после модерации он&nbsp;будет опубликован на&nbsp;сайте!</span></div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12">
          {% if not mobile %}<div id="specialist"></div>{% endif %}
        </div>
      </div>
      {% if products %}
      <h3 class="product_recomented_title">С этим товаром покупают</h3>
      <div class="product_recomented">
        <div class="product_list swiper-container">
          <div class="wrapp_right"></div>
         <div class="swiper-wrapper"> 
          {% set p = 0 %}
          {% for product in products %}
          <div class="swiper-slide product-layout product_list_item" data-id="{{ product.product_id }}">
            {% if product.special %}
            <span class="stock">Акция</span>
            {% endif %}
            {% if product.hit %}
            <span class="hit">Хит</span>
            {% endif %}
            <div class="product-thumb transition product_list_item_padding">
              <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <div class="caption_parameters">
                  {% if product.attributes %}
                  {% for attribute in product.attributes %}
                  <span class="attribute" data-attributes="{{attribute.attribute_id}}">{{attribute.text}}</span>
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="instock_wishlist">
                  <div class="instock_block"><span class="instock">В наличии</span></div>
                  <div class="wishlist_block"><span class="wishlist" onclick="wishlist.add('{{ product.product_id }}');">В избранное</span></div>
                </div>
                <div class="row price_cart">
                  <div class="col-xs-6">
                    {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                      <span class="price-new">{{ product.price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></span>
                      {% else %}
                      <span class="price-old">{{ product.price }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.3 35.74"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M18.29,25.05v3.69H8.2v7H3.34v-7H.05V25.05H3.34V20.34H0V16.65H3.34V0H13.4a22,22,0,0,1,5.36.6,11.49,11.49,0,0,1,4.06,1.85A8.25,8.25,0,0,1,25.4,5.58,10.18,10.18,0,0,1,26.3,10a10.72,10.72,0,0,1-.76,4.07,8.5,8.5,0,0,1-2.39,3.28A11.71,11.71,0,0,1,19,19.55a20.34,20.34,0,0,1-6.06.79H8.2v4.71Zm3-15q0-3.44-2-4.91T13.18,3.69h-5v13h4.54a18.33,18.33,0,0,0,3.57-.31A7.16,7.16,0,0,0,19,15.27a4.83,4.83,0,0,0,1.68-2A7.64,7.64,0,0,0,21.25,10.06Z"/></g></g></svg></span>
                      <span class="price-new">{{ product.special }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.21 36.21"><g id="sl1" data-name="s1"><g id="sl2" data-name="s2"><path d="M0,17.33H16.68v4.83H0Zm0,8.59H16.68v4.83H0ZM4.31,0H9.39V36.21H4.31ZM6.92,17.33H18.5a5.4,5.4,0,0,0,2.89-.77,5.16,5.16,0,0,0,1.93-2.19A7.37,7.37,0,0,0,24,11.11a7.44,7.44,0,0,0-.69-3.29,5.19,5.19,0,0,0-1.93-2.2,5.24,5.24,0,0,0-2.89-.79H6.92V0H18.33A11.45,11.45,0,0,1,24,1.38a9.57,9.57,0,0,1,3.82,3.9,12,12,0,0,1,1.36,5.83,12,12,0,0,1-1.36,5.81A9.49,9.49,0,0,1,24,20.79a11.45,11.45,0,0,1-5.7,1.37H6.92Z"/></g></g></svg></span>
                      {% endif %}
                      {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                      {% endif %}
                    </p>
                    {% endif %}
                  </div>
                  <div class="col-xs-6">
                      <div class="in_cart" onclick="cart.add('{{ product.product_id }}');"><span>В корзину</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% set p = p + 1 %}
          {% endfor %}
         </div>
        </div>
        <div class="arrows_more">
          {% if p > 4 %}
          <div class="arrows">
            <span class="arrows_left product_swiper_left"></span>
            <span class="arrows_right product_swiper_right"></span>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if not mobile %}
<div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog _reviews">
    <div class="modal-content">
      <p class="close" data-dismiss="modal" aria-hidden="true"></p>
        <div class="container-big-modal">
          <div class="reviews">
            <form class="form-horizontal" id="form-review">
              <div class="form_block">
                <h2>Написать отзыв</h2>
                <div class="form-group required">
                  <div class="col-sm-7">
                    <label class="control-label" for="input-name">Ваше имя</label>
                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group raccount">
                  <div class="col-sm-7">
                    <div class="btn_raccount" data-customer="{{customer}}">Использовать данные аккаунта</div>
                    <p>Данные вашего профиля автоматически заполняются</p>
                  </div>
                  {% if customer == 0 %}
                  <div class="col-sm-5">
                    <div class="raccount_text">Для этой функции нужно <a href="#" data-toggle="modal" data-target="#auth">авторизоваться</a></div>
                  </div>
                  {% endif %}
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">Ваш комментарий</label>
                    <textarea name="text" rows="4" id="input-review" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">Ваша оценка товару</label>
                    <div class="form_rating clearfix">
                      {% for i in 1..5 %}
                        <div class="inputs">
                          <input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}" data-radio="star">
                          <label for="rating{{ i }}"></label>
                        </div>
                      {% endfor %}
                      <span class="rating_num"><span>0</span>/5</span>
                    </div>
                  </div>
                </div>
                <div class="form-group buttons clearfix">
                  <div id="button-review" class="btn_review">Оставить отзыв</div>
                  <div class="text_politics">
                    <span>Нажимая на&nbsp;кнопку, вы&nbsp;соглашаетесь с&nbsp;условиями <a href="http://alfa.promolink.su/privacy" target="_blank">политики конфиденциальности и&nbsp;обработки персональных данных</a>.</span>
                  </div>
                </div>
              </div>
              <div class="form_success"><span>Спасибо, ваше отзыв отправлен, после модерации он&nbsp;будет опубликован на&nbsp;сайте!</span></div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  $('.tab_product > h3').click(function(){
    var self = $(this);
    if(!self.hasClass('on')){
      self.addClass('on');
      self.next().slideDown();
    } else {
      self.removeClass('on');
      self.next().slideUp();
    }
  });

  $('.options_color__list .inputs > input').change(function(){
    var self = $(this);
    var image_src = self.next().attr('data-image');
    if(self.parents('.options_color__list').next('.error_text').is('p')){
      self.parents('.options_color__list').next('.error_text').detach();
    }
  
    if(image_src == '') return false;

    $('.thumbnails_big .thumbnail').attr('href', image_src);
    $('.thumbnails_big .thumbnail > img').attr('src', image_src);
  });
  
  $('.product_list').swiper({
    slidesPerView: 4,
    spaceBetween: 20,
    paginationClickable: true,
    nextButton: '.product_swiper_right',
    prevButton: '.product_swiper_left',
    breakpoints: {
      640: {
          slidesPerView: 1,
      },
      800: {
          slidesPerView: 2,
      },
      1100: {
          slidesPerView: 3,
      }
    }
  });
  
  $('.wrapp_right').click(function(){
    $('.product_swiper_right').trigger('click');
  });

  $('.form_rating > .inputs > label').hover(
    function(){
      $(this).parent().prevAll().addClass('_on');
    }, function(){
      $(this).parent().prevAll().removeClass('_on');
    }
  );

  $('.form_rating > .inputs > input').change(function(){
    $('.form_rating > .inputs').removeClass('_checked');
    $(this).parent().prevAll().addClass('_checked');
    $('.rating_num > span').text($(this).val());
  });
  
  $('.btn_raccount').click(function() {
    var self = $(this);
    var customer = parseInt($(this).data('customer'));
    
    if(customer == 0){
      return false;
    }
    
    $.ajax({
      url: 'index.php?route=account/account/account_data',
      type: 'get',
      dataType: 'json',
      success: function(json) {
        $('#form-review input[name="name"]').val(json.firstname);
        self.text('Данные подставлены');
      },
      error: function(xhr, ajaxOptions, thrownError){
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
</script>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script> 
<script type="text/javascript">
$('#button-cart').on('click', function() {
  var self = $(this);
  var form_cart_add = {};
  var error_option = false;

  $('.options_block .error_text').detach();

  form_cart_add['product_id'] = $('input[name="product_id"]').val();
  form_cart_add['quantity'] = $('input[name="quantity"]').val();
  $('.options input[type="radio"]').each(function(){
    if($(this).is(':checked')){
      form_cart_add[$(this).attr('name')] = $(this).val();
    }
  });

  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: form_cart_add,
    dataType: 'json',
    success: function(json) {
      console.log(json);

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            $('.options_block[data-option-id="'+i+'"] > div').append('<p class="error_text">'+json['error']['option'][i]+'</p>');

            if(!error_option && winWidth <= 640){
              $('html, body').animate({scrollTop: ($('.options_block[data-option-id="'+i+'"]').offset().top - 85)}, 750);
              error_option = true;
            }
          }
        }
      }

      if (json['success']) {  
        self.addClass('on').text('В корзине');
      $('._cart_header').attr('data-count', json['count_cart']);

        /*setTimeout(function(){
                self.addClass('on').text('В корзину');
        }, 4500);*/
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
</script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $('#form-review label._error').removeClass('_error');

  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    success: function(json) {
      if (json['error']) {
        for (i in json['error']) {
          $('.form-control[name="'+i+'"]').prev().addClass('_error');

      if(i == 'rating'){
            $('.form_rating').prev().addClass('_error');
          }
        }
      }

      if(json['success']){
        $('#form-review .form_block').animate({'opacity': 0}, 150);
        $('#form-review .form_success').fadeIn(150);

        setTimeout(function(){
          $('#form-review input[name="name"]').val('');
          $('#form-review textarea[name="text"]').val('');
          $('#form-review input[name="rating"]:checked').prop('checked', false);
          
          $('#form-review .form_success').fadeOut(150);
          $('#form-review .form_block').animate({'opacity': 1}, 150);
        }, 3500);
      }
    }
  });
});

$('.image-additional > a').click(function(e){
  e = e || event;
  e.preventDefault();
  var self = $(this);

  $('.thumbnails_big > .thumbnail').attr('href', self.attr('href'));
  $('.thumbnails_big > .thumbnail > img').attr('src', self.attr('href'));
});

$(document).ready(function() {
  $('.thumbnails_big').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled: true
    }
  });
});
//--></script> 
{{ footer }}